:root {
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --primary: #38bdf8;
    --secondary: #8b43ce;
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.tenor.com%2FLHzcImlcWLwAAAAj%2Fdoritos-animation.gif&f=1&nofb=1&ipt=6d7207faa9653d739cf4e7aca6673c15bd26aa472244dabf6a6549d35adb4197");
    /*background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.ceneostatic.pl%2Fdata%2Fproducts%2F23195555%2Fi-buddy-toys-samochody-budowlane-betoniarka.jpg&f=1&nofb=1&ipt=65aa991124496a5ca0ba17adee67298fa78f9967b551e15561b14715b167da6b");
    */
}

.container { max-width: 1000px; margin: 0 auto; padding: 0 20px; }

header {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav { display: flex; justify-content: space-between; align-items: center; }
.logo { font-weight: bold; font-size: 1.2rem; color: var(--primary); }

/* SEKCJA POWITANIE */
.hero {
    text-align: center;
    padding: 80px 0;
}
img {
    width: 100%;
    height: 100%; 
    border-radius: 10%;
}
.avatar-placeholder {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    border-radius: 50%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}

h1 { font-size: 3rem; margin-bottom: 10px; }
.subtitle { color: var(--primary); font-size: 1.2rem; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 2px; }
.bio { max-width: 600px; margin: 0 auto; color: var(--text-muted); }

/* SEKCJA KART (GRID) */
.my-interests { padding: 60px 0; }
.section-header { margin-bottom: 40px; }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 15px;
    border-left: 4px solid var(--primary);
    transition: transform 0.3s;
}

.card:hover { transform: translateY(-5px); border-left-color: var(--secondary); }
.card h3 { margin-bottom: 10px; color: var(--text-main); }
.card p { font-size: 0.9rem; color: var(--text-muted); }

/* STOPKA */
footer {
    text-align: center;
    padding: 40px 0;
    color: var(--text-muted);
    font-size: 0.8rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* Responsywność */
@media (max-width: 600px) {
    h1 { font-size: 2rem; }
}